In [3]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
# Importing Libraries
import pandas as pd
import numpy as np

# Reading the data

book = pd.read_csv('Books.csv')

Book_backup = book

book.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [9]:
# Removing the usless columns

book = book[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

book.sample(6)

              ISBN                                         Book-Title  ... Year-Of-Publication                Publisher
93493   0415106001       Reading Images: The Grammar of Visual Design  ...                1995                Routledge
166942  0060226382             The iron giant: A story in five nights  ...                1988         Harper &amp; Row
162485  9041403213                              De blindganger: Roman  ...                1999                   Anthos
191577  0192141163                   The Oxford Book of Short Stories  ...                1981  Oxford University Press
75421   0684870789  Win The Weight Game : Successful Strategies Fo...  ...                2001                 Fireside
33395   0704338238         Love and Friendship: And Other Early Works  ...                1997         Trafalgar Square

[6 rows x 5 columns]

In [13]:
# Renaming the columns as per need

book.rename(columns={'Book-Title' : 'Title', 'Book-Author' : 'Author', 'Year-Of-Publication' : 'Year', 'Publisher' : 'Publisher'}, inplace = True)

In [15]:
book.sample(2)

              ISBN                                              Title             Author  Year             Publisher
154649  0823032906                          Oil Painting Step by Step  Arthur L. Guptill  1965  Watson-Guptill Pubns
116910  0452281121  Wrong: The Biggest Missteps and Miscalculation...       Jane O'Boyle  1999           Plume Books

In [18]:
# Importing user file 

user = pd.read_csv('Users.csv')

In [19]:
user.sample(6)

        User-ID                                  Location   Age
130484   130485               minneapolis, minnesota, usa   NaN
110042   110043  norderstedt, schleswig-holstein, germany  43.0
117077   117078              westford, massachusetts, usa  33.0
273364   273365   prince george, british columbia, canada  22.0
223847   223848                 winter park, florida, usa   NaN
132866   132867                  mulhouse, alsace, france  26.0

In [20]:
# Importing ratings file 

rating = pd.read_csv('Ratings.csv')

rating.sample(6)

         User-ID        ISBN  Book-Rating
152410     34864  0394223802            0
649552    157208  0595210473            0
174691     37950  0425147746            9
1005522   241537  0812575237            9
741704    179624  8431546557            0
439428    105168  0439136350            8

In [25]:
# Getting the shape

print('The shape of books is :',book.shape)
print('The shape of user is :',user.shape)
print('The shape of rating is :',rating.shape)

The shape of books is : (271360, 5)
The shape of user is : (278858, 3)
The shape of rating is : (1149780, 3)

In [29]:
# Merging ratings with books to removing rating for which we don't have books

ratings_with_books =rating.merge(book,on='ISBN')
ratings_with_books.sample(6)

        User-ID        ISBN  Book-Rating  ...               Author  Year                Publisher
359020   266283  0345298349            0  ...    Martin Cruz Smith  1993         Ballantine Books
418346    28523  0671722905            0  ...  William Shakespeare  1994  Washington Square Press
135105   116599  0307101762            0  ...   Golden Books Staff  1995             Golden Books
551900   144241  0671791974            0  ...          Peter David  1992                Star Trek
400984    44290  0316789976            5  ...         Anita Shreve  1997            Little, Brown
317082   225199  0140444572           10  ...               Virgil  1991            Penguin Books

[6 rows x 7 columns]

In [30]:
ratings_with_books.shape

(1031136, 7)

In [41]:
# Grouping the data to see the number of ratings

Number_Rating=ratings_with_books.groupby("Title")['Book-Rating'].count().reset_index()

In [42]:
# renaming the column 'Book-Rating'

Number_Rating.rename(columns={'Book-Rating' : 'number of ratings'}, inplace = True)

In [40]:
Number_Rating.head()

                                               Title  number of ratings
0   A Light in the Storm: The Civil War Diary of ...                  4
1                              Always Have Popsicles                  1
2               Apple Magic (The Collector's series)                  1
3   Ask Lily (Young Women of Faith: Lily Series, ...                  1
4   Beyond IBM: Leadership Marketing and Finance ...                  1

In [45]:
# Final merging for clustering

Final_rating =ratings_with_books.merge(Number_Rating,on='Title')
Final_rating.sample(6)

         User-ID        ISBN  Book-Rating  ...  Year         Publisher number of ratings
6817      236283  0316781142            0  ...  2001     Little, Brown               312
280115    127359  0446604658            7  ...  1998     Warner Vision               129
554746    215304  0380812010            0  ...  2001              Avon                26
155929    139031  0385334710            6  ...  2001   Delacorte Press                95
1030933   276018  3498005731            0  ...  1994  Rowohlt, Reinbek                 1
278342    165345  1893910245            4  ...  2002     Freedom Press                10

[6 rows x 8 columns]

In [55]:
# Final rating > 50

Final_rating = Final_rating[Final_rating['number of ratings']>50]

Final_rating.shape

(282389, 8)

In [56]:
# Removing duplicates

Final_rating.drop_duplicates(['User-ID','Title'],inplace=True)

# Chechking the shape

Final_rating.shape

(282389, 8)

In [57]:
Final_rating.head()

   User-ID        ISBN  Book-Rating                 Title      Author  Year         Publisher  number of ratings
0   276725  034545104X            0  Flesh Tones: A Novel  M. J. Rose  2002  Ballantine Books                 60
1     2313  034545104X            5  Flesh Tones: A Novel  M. J. Rose  2002  Ballantine Books                 60
2     6543  034545104X            0  Flesh Tones: A Novel  M. J. Rose  2002  Ballantine Books                 60
3     8680  034545104X            5  Flesh Tones: A Novel  M. J. Rose  2002  Ballantine Books                 60
4    10314  034545104X            9  Flesh Tones: A Novel  M. J. Rose  2002  Ballantine Books                 60

In [58]:
# Checking the book pivot

book_pivot = Final_rating.pivot_table(columns='User-ID', index='Title', values = 'Book-Rating')

In [62]:
# Dealing with Nan Values

book_pivot.fillna(0, inplace=True)

In [65]:
# Check Shape

book_pivot.shape

(2381, 47740)

In [66]:
# Remove 0 values

from scipy.sparse import csr_matrix

book_sparse = csr_matrix(book_pivot)

In [67]:
# Checking book saprse data type

type(book_sparse)

scipy.sparse._csr.csr_matrix

In [68]:
# Using KNN clustering

from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(algorithm='brute')

# model fit

model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [86]:
distances, suggestions = model.kneighbors(book_pivot.iloc[54, :].values.reshape(1,-1), n_neighbors=6)

In [87]:
suggestions

array([[  54, 1354,  748, 2361,  275, 1198]], dtype=int64)

In [88]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['A Pirate Looks at Fifty', 'Reasonable Doubt', 'Ground Zero and Beyond',
       'Women in His Life', 'Blood and Gold (Rice, Anne, Vampire Chronicles.)',
       'On Wings of Eagles'],
      dtype='object', name='Title')

In [85]:
book_pivot.index[240]

'Big Trouble'

In [97]:
# book recomendation system

def book_reccomend(book_name):
    book_id = np.where(book_pivot.index==book_name)[0][0]
    distances, suggestions = model.kneighbors(book_pivot.iloc[book_id, :].values.reshape(1,-1), n_neighbors=6)
   
    for i in range(len(suggestions)):
        if i==0: 
            print('The suggestion for',book_name,'are :',book_pivot.index[suggestions[i]])

In [98]:
book_reccomend('Big Trouble')

The suggestion for Big Trouble are : Index(['Big Trouble', 'Ground Zero and Beyond', 'Howards End', 'Whirlwind',
       'About Face', 'Ssn'],
      dtype='object', name='Title')